* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background: #485563; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body::-webkit-scrollbar-thumb {
  background: #83a4d4; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
  border-radius: 100px;
}

html,
body {
  scroll-behavior: smooth;
  display: grid;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Chilanka", cursive;
  font-size: clamp(5rem, 8vw, 8rem);
  color: white;
  text-shadow: 0 0 7px black, 0 0 8px #fff, 0 0 8px #fff, 0 0 1px purple;
  transform: translate(-50%, -50%);
}

.hero {
  display: inline-block;
  width: 100%;
}

.diagonal-hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(26, 0, 47);
  background: linear-gradient(90deg, rgb(26, 0, 47) 15%, rgb(35, 1, 61) 51%, rgb(26, 0, 47) 85%);
  /* background: rgb(40,0,73);
    background: linear-gradient(90deg, rgba(40,0,73,1) 30%, rgba(61,34,89,1) 50%, rgba(40,0,73,1) 70%);  */
  z-index: -1;
}

.stars {
  z-index: -1;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: opacity 1s ease-in-out;
}

.stars > .small {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1949px 51px #767676 , 1902px 1899px #767676 , 1791px 1523px #767676 , 1696px 776px #767676 , 912px 1882px #767676 , 632px 1965px #767676 , 1979px 1184px #767676 , 1955px 1807px #767676 , 950px 1252px #767676 , 958px 1750px #767676 , 1801px 113px #767676 , 1763px 558px #767676 , 1130px 1926px #767676 , 1965px 870px #767676 , 1823px 1852px #767676 , 551px 1434px #767676 , 1741px 1351px #767676 , 1097px 37px #767676 , 1358px 1633px #767676 , 1045px 1448px #767676 , 1341px 1704px #767676 , 61px 1678px #767676 , 149px 95px #767676 , 1762px 1524px #767676 , 1864px 1763px #767676 , 330px 45px #767676 , 1343px 1746px #767676 , 629px 1211px #767676 , 1484px 110px #767676 , 1855px 154px #767676 , 1113px 284px #767676 , 792px 1978px #767676 , 1383px 967px #767676 , 58px 1462px #767676 , 1435px 403px #767676 , 1207px 1634px #767676 , 1116px 490px #767676 , 1393px 1859px #767676 , 1932px 1729px #767676 , 1005px 792px #767676 , 59px 1894px #767676 , 173px 1421px #767676 , 723px 1344px #767676 , 1474px 145px #767676 , 568px 1719px #767676 , 740px 1624px #767676 , 721px 75px #767676 , 1406px 1112px #767676 , 1481px 896px #767676 , 1897px 154px #767676 , 1522px 289px #767676 , 645px 1371px #767676 , 440px 1875px #767676 , 821px 1613px #767676 , 383px 489px #767676 , 1892px 16px #767676 , 1348px 1775px #767676 , 3px 1629px #767676 , 196px 101px #767676 , 1965px 546px #767676 , 970px 1762px #767676 , 983px 1722px #767676 , 356px 98px #767676 , 944px 774px #767676 , 847px 1048px #767676 , 1015px 1318px #767676 , 1495px 949px #767676 , 605px 556px #767676 , 1315px 1320px #767676 , 1645px 1544px #767676 , 337px 906px #767676 , 116px 1341px #767676 , 4px 337px #767676 , 1961px 1190px #767676 , 832px 231px #767676 , 150px 1258px #767676 , 1670px 773px #767676 , 1502px 1246px #767676 , 24px 1998px #767676 , 273px 49px #767676 , 780px 606px #767676 , 1593px 55px #767676 , 781px 5px #767676 , 923px 1675px #767676 , 197px 482px #767676 , 1793px 1705px #767676 , 1011px 653px #767676 , 563px 45px #767676 , 1256px 505px #767676 , 1839px 262px #767676 , 1439px 407px #767676 , 204px 1580px #767676 , 559px 177px #767676 , 1054px 1168px #767676 , 400px 1138px #767676 , 833px 437px #767676 , 1165px 1958px #767676 , 520px 1369px #767676 , 511px 1555px #767676 , 738px 1418px #767676 , 703px 1077px #767676 , 1536px 296px #767676 , 359px 1095px #767676 , 206px 1838px #767676 , 54px 105px #767676 , 733px 899px #767676 , 977px 1384px #767676 , 22px 269px #767676 , 1730px 1760px #767676 , 35px 1572px #767676 , 1376px 793px #767676 , 505px 816px #767676 , 1267px 240px #767676 , 636px 1595px #767676 , 193px 481px #767676 , 33px 1642px #767676 , 837px 1260px #767676 , 820px 1734px #767676 , 1827px 1772px #767676 , 469px 820px #767676 , 211px 1483px #767676 , 1755px 895px #767676 , 217px 1540px #767676 , 503px 1059px #767676 , 1309px 572px #767676 , 1252px 1004px #767676 , 1941px 1056px #767676 , 1720px 1171px #767676 , 1672px 1718px #767676 , 1026px 1811px #767676 , 672px 1492px #767676 , 1774px 906px #767676 , 259px 1817px #767676 , 1459px 912px #767676 , 326px 1479px #767676 , 1336px 186px #767676 , 1659px 1069px #767676 , 788px 652px #767676 , 110px 725px #767676 , 1427px 771px #767676 , 1190px 1249px #767676 , 1968px 763px #767676 , 613px 1049px #767676 , 647px 126px #767676 , 1989px 1703px #767676 , 814px 1166px #767676 , 1443px 275px #767676 , 141px 1586px #767676 , 234px 1038px #767676 , 1092px 1813px #767676 , 968px 454px #767676 , 292px 425px #767676 , 1707px 1010px #767676 , 267px 854px #767676 , 1568px 1569px #767676 , 1183px 1150px #767676 , 1028px 1693px #767676 , 1398px 1557px #767676 , 396px 100px #767676 , 1555px 1789px #767676 , 402px 1362px #767676 , 1177px 1760px #767676 , 95px 1439px #767676 , 835px 1722px #767676 , 224px 1202px #767676 , 1629px 394px #767676 , 804px 949px #767676 , 934px 1660px #767676 , 68px 1649px #767676 , 1787px 1102px #767676 , 558px 125px #767676 , 1018px 232px #767676 , 1399px 450px #767676 , 54px 1802px #767676 , 777px 1503px #767676 , 1811px 1792px #767676 , 771px 1805px #767676 , 591px 1577px #767676 , 1871px 1834px #767676 , 1884px 103px #767676 , 686px 1601px #767676 , 399px 681px #767676 , 780px 1704px #767676 , 1951px 1px #767676 , 1921px 237px #767676 , 145px 1396px #767676 , 1824px 336px #767676 , 1678px 1912px #767676 , 1737px 1475px #767676 , 1902px 27px #767676 , 139px 1977px #767676 , 1909px 659px #767676 , 1481px 1184px #767676 , 798px 738px #767676 , 242px 987px #767676 , 619px 1839px #767676 , 751px 744px #767676 , 889px 550px #767676 , 1312px 1781px #767676 , 1313px 777px #767676 , 1885px 1586px #767676 , 462px 1331px #767676 , 1365px 656px #767676 , 1607px 1878px #767676 , 11px 83px #767676 , 476px 755px #767676 , 321px 895px #767676 , 225px 695px #767676 , 979px 345px #767676 , 424px 779px #767676 , 72px 4px #767676 , 300px 506px #767676 , 1655px 488px #767676 , 1200px 586px #767676 , 825px 523px #767676 , 1432px 506px #767676 , 1783px 297px #767676 , 1597px 1566px #767676 , 53px 356px #767676 , 722px 775px #767676 , 667px 1672px #767676 , 1673px 526px #767676 , 113px 193px #767676 , 83px 1630px #767676 , 1703px 285px #767676 , 1030px 73px #767676 , 317px 843px #767676 , 910px 334px #767676 , 264px 1052px #767676 , 1316px 61px #767676 , 1293px 742px #767676 , 1364px 920px #767676 , 273px 133px #767676 , 395px 924px #767676 , 935px 978px #767676 , 1286px 1383px #767676 , 119px 90px #767676 , 1201px 239px #767676 , 507px 1332px #767676 , 1837px 906px #767676 , 1197px 1493px #767676 , 835px 1751px #767676 , 1045px 1210px #767676 , 43px 1826px #767676 , 1422px 913px #767676 , 680px 590px #767676 , 813px 27px #767676 , 503px 1037px #767676 , 791px 1831px #767676 , 57px 1410px #767676 , 1404px 1901px #767676 , 206px 1865px #767676 , 670px 456px #767676 , 1459px 256px #767676 , 1784px 1555px #767676 , 62px 838px #767676 , 460px 1950px #767676 , 1476px 333px #767676 , 671px 1914px #767676 , 1294px 68px #767676 , 725px 450px #767676 , 486px 1868px #767676 , 1082px 976px #767676 , 438px 1825px #767676 , 889px 1402px #767676 , 1445px 343px #767676 , 558px 216px #767676 , 1964px 47px #767676 , 394px 1184px #767676 , 1718px 770px #767676 , 1431px 883px #767676 , 56px 370px #767676 , 446px 1716px #767676 , 135px 1231px #767676 , 1122px 1403px #767676 , 428px 1666px #767676 , 1501px 347px #767676 , 1705px 1119px #767676 , 761px 534px #767676 , 363px 1897px #767676 , 1732px 1095px #767676 , 1302px 506px #767676 , 330px 268px #767676 , 1987px 781px #767676 , 1451px 864px #767676 , 1217px 119px #767676 , 478px 1593px #767676 , 1814px 671px #767676 , 697px 1020px #767676 , 4px 375px #767676 , 1952px 600px #767676 , 604px 692px #767676 , 1633px 53px #767676 , 1062px 799px #767676 , 507px 1629px #767676 , 1823px 804px #767676 , 1026px 323px #767676 , 1870px 288px #767676 , 206px 891px #767676 , 1035px 465px #767676 , 1880px 1497px #767676 , 887px 136px #767676 , 406px 688px #767676 , 346px 3px #767676 , 225px 758px #767676 , 766px 110px #767676 , 1157px 306px #767676 , 1807px 1997px #767676 , 499px 1263px #767676 , 648px 1847px #767676 , 1631px 898px #767676 , 1784px 1233px #767676 , 28px 479px #767676 , 1162px 1165px #767676 , 1059px 846px #767676 , 1781px 1296px #767676 , 1711px 605px #767676 , 1416px 1921px #767676 , 1136px 1339px #767676 , 437px 964px #767676 , 937px 1478px #767676 , 454px 278px #767676 , 1941px 980px #767676 , 1646px 1221px #767676 , 1596px 965px #767676 , 1707px 1772px #767676 , 913px 683px #767676 , 367px 852px #767676 , 1060px 1866px #767676 , 1756px 1196px #767676 , 1040px 1871px #767676 , 678px 877px #767676 , 133px 177px #767676 , 740px 1725px #767676 , 578px 945px #767676 , 115px 970px #767676 , 1373px 897px #767676 , 306px 166px #767676 , 474px 719px #767676 , 1806px 316px #767676 , 231px 522px #767676 , 1552px 63px #767676 , 1609px 366px #767676 , 1247px 1899px #767676 , 396px 667px #767676 , 938px 1603px #767676 , 814px 373px #767676 , 258px 171px #767676 , 832px 613px #767676 , 498px 1221px #767676 , 883px 86px #767676 , 365px 753px #767676 , 910px 1549px #767676 , 1396px 934px #767676 , 406px 964px #767676 , 138px 310px #767676 , 1480px 1570px #767676 , 608px 958px #767676 , 705px 823px #767676 , 1952px 1964px #767676 , 640px 507px #767676 , 789px 1253px #767676 , 1162px 846px #767676 , 1428px 1046px #767676 , 315px 1737px #767676 , 1823px 971px #767676 , 112px 724px #767676 , 1312px 968px #767676 , 236px 963px #767676 , 884px 1320px #767676 , 897px 694px #767676 , 888px 621px #767676 , 538px 576px #767676 , 949px 119px #767676 , 1556px 800px #767676 , 1936px 1884px #767676 , 44px 1447px #767676 , 1131px 325px #767676 , 1207px 385px #767676 , 1141px 1464px #767676 , 830px 603px #767676 , 1334px 1444px #767676 , 371px 1837px #767676 , 1515px 567px #767676 , 1793px 872px #767676 , 1117px 1894px #767676 , 568px 564px #767676 , 283px 1099px #767676 , 1573px 1044px #767676 , 1684px 1676px #767676 , 433px 1809px #767676 , 1787px 846px #767676 , 858px 190px #767676 , 523px 11px #767676 , 1282px 716px #767676 , 1518px 678px #767676 , 178px 184px #767676 , 324px 451px #767676 , 1801px 1191px #767676 , 684px 1015px #767676 , 1406px 291px #767676 , 612px 1710px #767676 , 817px 798px #767676 , 1395px 1919px #767676 , 1035px 1188px #767676 , 787px 1963px #767676 , 686px 1997px #767676 , 1885px 65px #767676 , 1158px 145px #767676 , 1899px 422px #767676 , 1605px 96px #767676 , 861px 780px #767676 , 1291px 1074px #767676 , 1401px 244px #767676 , 987px 1093px #767676 , 1410px 1768px #767676 , 450px 683px #767676 , 992px 440px #767676 , 1148px 166px #767676 , 681px 1387px #767676 , 1631px 1061px #767676 , 312px 1001px #767676 , 1883px 1508px #767676 , 1611px 832px #767676 , 1809px 115px #767676 , 1314px 582px #767676 , 670px 1292px #767676 , 1168px 183px #767676 , 1683px 1137px #767676 , 1274px 748px #767676 , 1720px 519px #767676 , 661px 1248px #767676 , 443px 1444px #767676 , 1887px 1018px #767676 , 672px 521px #767676 , 625px 1867px #767676 , 797px 1140px #767676 , 869px 837px #767676 , 1562px 1726px #767676 , 1329px 1161px #767676 , 348px 326px #767676 , 1329px 1648px #767676 , 544px 537px #767676 , 676px 272px #767676 , 109px 633px #767676 , 203px 1198px #767676 , 664px 1720px #767676 , 1535px 1794px #767676 , 1116px 48px #767676 , 103px 1810px #767676 , 1648px 666px #767676 , 1604px 1240px #767676 , 1643px 1971px #767676 , 1172px 43px #767676 , 470px 612px #767676 , 1404px 1839px #767676 , 1935px 538px #767676 , 55px 269px #767676 , 1580px 106px #767676 , 716px 1050px #767676 , 1856px 200px #767676 , 238px 1121px #767676 , 278px 461px #767676 , 380px 348px #767676 , 450px 669px #767676 , 761px 216px #767676 , 403px 784px #767676 , 1436px 347px #767676 , 1636px 519px #767676 , 1348px 1712px #767676 , 467px 1022px #767676 , 995px 963px #767676 , 65px 1493px #767676 , 667px 228px #767676 , 1684px 1196px #767676 , 188px 820px #767676 , 1943px 1285px #767676 , 240px 173px #767676 , 231px 1912px #767676 , 921px 452px #767676 , 1799px 1540px #767676 , 1435px 1307px #767676 , 335px 1486px #767676 , 1429px 1779px #767676 , 1188px 904px #767676 , 1125px 10px #767676 , 1879px 621px #767676 , 1290px 1727px #767676 , 775px 583px #767676 , 508px 1330px #767676 , 267px 949px #767676 , 1229px 765px #767676 , 575px 1109px #767676 , 627px 697px #767676 , 1769px 1719px #767676 , 1186px 1415px #767676 , 1795px 510px #767676 , 890px 1999px #767676 , 376px 2000px #767676 , 1634px 1544px #767676 , 1183px 819px #767676 , 37px 109px #767676 , 1315px 459px #767676 , 866px 1361px #767676 , 1845px 1214px #767676 , 1323px 753px #767676 , 531px 1403px #767676 , 1667px 1438px #767676 , 345px 1002px #767676 , 928px 893px #767676 , 1831px 786px #767676 , 1699px 911px #767676 , 627px 1476px #767676 , 1330px 572px #767676 , 804px 549px #767676 , 267px 525px #767676 , 1374px 167px #767676 , 1204px 1542px #767676 , 487px 1775px #767676 , 326px 1917px #767676 , 894px 324px #767676 , 884px 1191px #767676 , 612px 1178px #767676 , 829px 1961px #767676 , 73px 57px #767676 , 1237px 1744px #767676 , 31px 1462px #767676 , 251px 1772px #767676 , 964px 1033px #767676 , 1984px 1946px #767676 , 698px 1431px #767676 , 813px 540px #767676 , 1209px 1719px #767676 , 808px 1398px #767676 , 1957px 692px #767676 , 351px 142px #767676 , 1441px 803px #767676 , 524px 1330px #767676 , 353px 1569px #767676 , 1518px 40px #767676 , 1954px 1495px #767676 , 1981px 1702px #767676 , 1304px 1923px #767676 , 641px 1180px #767676 , 156px 1487px #767676 , 1682px 218px #767676 , 474px 1089px #767676 , 1551px 1810px #767676 , 1021px 1282px #767676 , 314px 195px #767676 , 1716px 1311px #767676 , 243px 1567px #767676 , 1187px 1124px #767676 , 77px 504px #767676 , 197px 596px #767676 , 436px 1273px #767676 , 1622px 933px #767676 , 1133px 737px #767676 , 1612px 1662px #767676 , 1618px 648px #767676 , 808px 114px #767676 , 1352px 872px #767676 , 665px 898px #767676 , 1000px 1861px #767676 , 1969px 501px #767676 , 1481px 1318px #767676 , 575px 1118px #767676 , 562px 1989px #767676 , 1757px 472px #767676 , 1022px 158px #767676 , 381px 1792px #767676 , 1874px 193px #767676 , 784px 208px #767676 , 1553px 820px #767676 , 1978px 1153px #767676 , 414px 1767px #767676 , 1374px 1193px #767676 , 18px 1154px #767676 , 1545px 98px #767676 , 1731px 1942px #767676 , 199px 1066px #767676 , 1150px 1316px #767676 , 409px 785px #767676 , 507px 1623px #767676 , 188px 1645px #767676 , 456px 352px #767676 , 52px 756px #767676 , 644px 580px #767676 , 243px 1175px #767676 , 1034px 68px #767676 , 1365px 586px #767676 , 149px 1831px #767676 , 1846px 1167px #767676 , 1535px 829px #767676 , 1462px 901px #767676 , 550px 1439px #767676 , 558px 508px #767676 , 1928px 90px #767676 , 1663px 622px #767676 , 140px 679px #767676 , 75px 938px #767676 , 1090px 200px #767676 , 445px 1917px #767676 , 425px 181px #767676 , 715px 622px #767676 , 817px 227px #767676 , 482px 779px #767676 , 633px 367px #767676 , 411px 416px #767676 , 628px 1051px #767676 , 14px 1851px #767676 , 160px 538px #767676 , 606px 176px #767676 , 804px 1281px #767676 , 462px 463px #767676 , 921px 95px #767676 , 949px 1026px #767676 , 405px 1266px #767676 , 1163px 1816px #767676 , 1918px 1707px #767676 , 141px 1484px #767676 , 156px 847px #767676 , 1869px 405px #767676 , 1380px 1797px #767676 , 1953px 884px #767676 , 731px 1104px #767676 , 1454px 120px #767676 , 91px 1379px #767676 , 1115px 1505px #767676 , 443px 727px #767676 , 912px 1891px #767676 , 594px 1147px #767676 , 1886px 1942px #767676 , 689px 1416px #767676 , 1556px 1031px #767676 , 312px 1480px #767676 , 1096px 1507px #767676 , 321px 1072px #767676 , 1744px 185px #767676 , 1375px 842px #767676 , 113px 289px #767676 , 539px 966px #767676 , 999px 743px #767676 , 678px 1062px #767676 , 1527px 1142px #767676 , 1554px 1147px #767676 , 891px 1314px #767676 , 1581px 1952px #767676 , 332px 1516px #767676 , 1400px 741px #767676 , 292px 548px #767676 , 163px 1046px #767676 , 1182px 251px #767676 , 812px 1688px #767676 , 905px 1581px #767676 , 883px 935px #767676 , 150px 1135px #767676 , 524px 1404px #767676 , 327px 862px #767676 , 1885px 1294px #767676 , 639px 282px #767676 , 1688px 1188px #767676 , 99px 23px #767676 , 1234px 11px #767676 , 1385px 1375px #767676 , 1758px 1529px #767676 , 1613px 478px #767676 , 345px 1252px #767676 , 84px 48px #767676 , 1815px 811px #767676 , 112px 926px #767676 , 1617px 201px #767676 , 43px 573px #767676 , 1253px 94px #767676 , 1317px 916px #767676 , 1195px 1225px #767676 , 1103px 727px #767676 , 1778px 171px #767676 , 470px 1107px #767676 , 1777px 1549px #767676 , 368px 825px #767676 , 773px 662px #767676 , 309px 517px #767676 , 1057px 494px #767676 , 1890px 464px #767676 , 413px 372px #767676 , 723px 1375px #767676 , 1117px 1934px #767676 , 1789px 992px #767676 , 1586px 1331px #767676 , 393px 611px #767676 , 113px 668px #767676 , 592px 1055px #767676 , 460px 59px #767676 , 632px 745px #767676 , 1237px 745px #767676 , 801px 1588px #767676 , 1286px 1777px #767676 , 1064px 1971px #767676 , 677px 748px #767676;
  animation: starsAnimation 50s linear infinite;
}
.stars > .small:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1949px 51px #767676 , 1902px 1899px #767676 , 1791px 1523px #767676 , 1696px 776px #767676 , 912px 1882px #767676 , 632px 1965px #767676 , 1979px 1184px #767676 , 1955px 1807px #767676 , 950px 1252px #767676 , 958px 1750px #767676 , 1801px 113px #767676 , 1763px 558px #767676 , 1130px 1926px #767676 , 1965px 870px #767676 , 1823px 1852px #767676 , 551px 1434px #767676 , 1741px 1351px #767676 , 1097px 37px #767676 , 1358px 1633px #767676 , 1045px 1448px #767676 , 1341px 1704px #767676 , 61px 1678px #767676 , 149px 95px #767676 , 1762px 1524px #767676 , 1864px 1763px #767676 , 330px 45px #767676 , 1343px 1746px #767676 , 629px 1211px #767676 , 1484px 110px #767676 , 1855px 154px #767676 , 1113px 284px #767676 , 792px 1978px #767676 , 1383px 967px #767676 , 58px 1462px #767676 , 1435px 403px #767676 , 1207px 1634px #767676 , 1116px 490px #767676 , 1393px 1859px #767676 , 1932px 1729px #767676 , 1005px 792px #767676 , 59px 1894px #767676 , 173px 1421px #767676 , 723px 1344px #767676 , 1474px 145px #767676 , 568px 1719px #767676 , 740px 1624px #767676 , 721px 75px #767676 , 1406px 1112px #767676 , 1481px 896px #767676 , 1897px 154px #767676 , 1522px 289px #767676 , 645px 1371px #767676 , 440px 1875px #767676 , 821px 1613px #767676 , 383px 489px #767676 , 1892px 16px #767676 , 1348px 1775px #767676 , 3px 1629px #767676 , 196px 101px #767676 , 1965px 546px #767676 , 970px 1762px #767676 , 983px 1722px #767676 , 356px 98px #767676 , 944px 774px #767676 , 847px 1048px #767676 , 1015px 1318px #767676 , 1495px 949px #767676 , 605px 556px #767676 , 1315px 1320px #767676 , 1645px 1544px #767676 , 337px 906px #767676 , 116px 1341px #767676 , 4px 337px #767676 , 1961px 1190px #767676 , 832px 231px #767676 , 150px 1258px #767676 , 1670px 773px #767676 , 1502px 1246px #767676 , 24px 1998px #767676 , 273px 49px #767676 , 780px 606px #767676 , 1593px 55px #767676 , 781px 5px #767676 , 923px 1675px #767676 , 197px 482px #767676 , 1793px 1705px #767676 , 1011px 653px #767676 , 563px 45px #767676 , 1256px 505px #767676 , 1839px 262px #767676 , 1439px 407px #767676 , 204px 1580px #767676 , 559px 177px #767676 , 1054px 1168px #767676 , 400px 1138px #767676 , 833px 437px #767676 , 1165px 1958px #767676 , 520px 1369px #767676 , 511px 1555px #767676 , 738px 1418px #767676 , 703px 1077px #767676 , 1536px 296px #767676 , 359px 1095px #767676 , 206px 1838px #767676 , 54px 105px #767676 , 733px 899px #767676 , 977px 1384px #767676 , 22px 269px #767676 , 1730px 1760px #767676 , 35px 1572px #767676 , 1376px 793px #767676 , 505px 816px #767676 , 1267px 240px #767676 , 636px 1595px #767676 , 193px 481px #767676 , 33px 1642px #767676 , 837px 1260px #767676 , 820px 1734px #767676 , 1827px 1772px #767676 , 469px 820px #767676 , 211px 1483px #767676 , 1755px 895px #767676 , 217px 1540px #767676 , 503px 1059px #767676 , 1309px 572px #767676 , 1252px 1004px #767676 , 1941px 1056px #767676 , 1720px 1171px #767676 , 1672px 1718px #767676 , 1026px 1811px #767676 , 672px 1492px #767676 , 1774px 906px #767676 , 259px 1817px #767676 , 1459px 912px #767676 , 326px 1479px #767676 , 1336px 186px #767676 , 1659px 1069px #767676 , 788px 652px #767676 , 110px 725px #767676 , 1427px 771px #767676 , 1190px 1249px #767676 , 1968px 763px #767676 , 613px 1049px #767676 , 647px 126px #767676 , 1989px 1703px #767676 , 814px 1166px #767676 , 1443px 275px #767676 , 141px 1586px #767676 , 234px 1038px #767676 , 1092px 1813px #767676 , 968px 454px #767676 , 292px 425px #767676 , 1707px 1010px #767676 , 267px 854px #767676 , 1568px 1569px #767676 , 1183px 1150px #767676 , 1028px 1693px #767676 , 1398px 1557px #767676 , 396px 100px #767676 , 1555px 1789px #767676 , 402px 1362px #767676 , 1177px 1760px #767676 , 95px 1439px #767676 , 835px 1722px #767676 , 224px 1202px #767676 , 1629px 394px #767676 , 804px 949px #767676 , 934px 1660px #767676 , 68px 1649px #767676 , 1787px 1102px #767676 , 558px 125px #767676 , 1018px 232px #767676 , 1399px 450px #767676 , 54px 1802px #767676 , 777px 1503px #767676 , 1811px 1792px #767676 , 771px 1805px #767676 , 591px 1577px #767676 , 1871px 1834px #767676 , 1884px 103px #767676 , 686px 1601px #767676 , 399px 681px #767676 , 780px 1704px #767676 , 1951px 1px #767676 , 1921px 237px #767676 , 145px 1396px #767676 , 1824px 336px #767676 , 1678px 1912px #767676 , 1737px 1475px #767676 , 1902px 27px #767676 , 139px 1977px #767676 , 1909px 659px #767676 , 1481px 1184px #767676 , 798px 738px #767676 , 242px 987px #767676 , 619px 1839px #767676 , 751px 744px #767676 , 889px 550px #767676 , 1312px 1781px #767676 , 1313px 777px #767676 , 1885px 1586px #767676 , 462px 1331px #767676 , 1365px 656px #767676 , 1607px 1878px #767676 , 11px 83px #767676 , 476px 755px #767676 , 321px 895px #767676 , 225px 695px #767676 , 979px 345px #767676 , 424px 779px #767676 , 72px 4px #767676 , 300px 506px #767676 , 1655px 488px #767676 , 1200px 586px #767676 , 825px 523px #767676 , 1432px 506px #767676 , 1783px 297px #767676 , 1597px 1566px #767676 , 53px 356px #767676 , 722px 775px #767676 , 667px 1672px #767676 , 1673px 526px #767676 , 113px 193px #767676 , 83px 1630px #767676 , 1703px 285px #767676 , 1030px 73px #767676 , 317px 843px #767676 , 910px 334px #767676 , 264px 1052px #767676 , 1316px 61px #767676 , 1293px 742px #767676 , 1364px 920px #767676 , 273px 133px #767676 , 395px 924px #767676 , 935px 978px #767676 , 1286px 1383px #767676 , 119px 90px #767676 , 1201px 239px #767676 , 507px 1332px #767676 , 1837px 906px #767676 , 1197px 1493px #767676 , 835px 1751px #767676 , 1045px 1210px #767676 , 43px 1826px #767676 , 1422px 913px #767676 , 680px 590px #767676 , 813px 27px #767676 , 503px 1037px #767676 , 791px 1831px #767676 , 57px 1410px #767676 , 1404px 1901px #767676 , 206px 1865px #767676 , 670px 456px #767676 , 1459px 256px #767676 , 1784px 1555px #767676 , 62px 838px #767676 , 460px 1950px #767676 , 1476px 333px #767676 , 671px 1914px #767676 , 1294px 68px #767676 , 725px 450px #767676 , 486px 1868px #767676 , 1082px 976px #767676 , 438px 1825px #767676 , 889px 1402px #767676 , 1445px 343px #767676 , 558px 216px #767676 , 1964px 47px #767676 , 394px 1184px #767676 , 1718px 770px #767676 , 1431px 883px #767676 , 56px 370px #767676 , 446px 1716px #767676 , 135px 1231px #767676 , 1122px 1403px #767676 , 428px 1666px #767676 , 1501px 347px #767676 , 1705px 1119px #767676 , 761px 534px #767676 , 363px 1897px #767676 , 1732px 1095px #767676 , 1302px 506px #767676 , 330px 268px #767676 , 1987px 781px #767676 , 1451px 864px #767676 , 1217px 119px #767676 , 478px 1593px #767676 , 1814px 671px #767676 , 697px 1020px #767676 , 4px 375px #767676 , 1952px 600px #767676 , 604px 692px #767676 , 1633px 53px #767676 , 1062px 799px #767676 , 507px 1629px #767676 , 1823px 804px #767676 , 1026px 323px #767676 , 1870px 288px #767676 , 206px 891px #767676 , 1035px 465px #767676 , 1880px 1497px #767676 , 887px 136px #767676 , 406px 688px #767676 , 346px 3px #767676 , 225px 758px #767676 , 766px 110px #767676 , 1157px 306px #767676 , 1807px 1997px #767676 , 499px 1263px #767676 , 648px 1847px #767676 , 1631px 898px #767676 , 1784px 1233px #767676 , 28px 479px #767676 , 1162px 1165px #767676 , 1059px 846px #767676 , 1781px 1296px #767676 , 1711px 605px #767676 , 1416px 1921px #767676 , 1136px 1339px #767676 , 437px 964px #767676 , 937px 1478px #767676 , 454px 278px #767676 , 1941px 980px #767676 , 1646px 1221px #767676 , 1596px 965px #767676 , 1707px 1772px #767676 , 913px 683px #767676 , 367px 852px #767676 , 1060px 1866px #767676 , 1756px 1196px #767676 , 1040px 1871px #767676 , 678px 877px #767676 , 133px 177px #767676 , 740px 1725px #767676 , 578px 945px #767676 , 115px 970px #767676 , 1373px 897px #767676 , 306px 166px #767676 , 474px 719px #767676 , 1806px 316px #767676 , 231px 522px #767676 , 1552px 63px #767676 , 1609px 366px #767676 , 1247px 1899px #767676 , 396px 667px #767676 , 938px 1603px #767676 , 814px 373px #767676 , 258px 171px #767676 , 832px 613px #767676 , 498px 1221px #767676 , 883px 86px #767676 , 365px 753px #767676 , 910px 1549px #767676 , 1396px 934px #767676 , 406px 964px #767676 , 138px 310px #767676 , 1480px 1570px #767676 , 608px 958px #767676 , 705px 823px #767676 , 1952px 1964px #767676 , 640px 507px #767676 , 789px 1253px #767676 , 1162px 846px #767676 , 1428px 1046px #767676 , 315px 1737px #767676 , 1823px 971px #767676 , 112px 724px #767676 , 1312px 968px #767676 , 236px 963px #767676 , 884px 1320px #767676 , 897px 694px #767676 , 888px 621px #767676 , 538px 576px #767676 , 949px 119px #767676 , 1556px 800px #767676 , 1936px 1884px #767676 , 44px 1447px #767676 , 1131px 325px #767676 , 1207px 385px #767676 , 1141px 1464px #767676 , 830px 603px #767676 , 1334px 1444px #767676 , 371px 1837px #767676 , 1515px 567px #767676 , 1793px 872px #767676 , 1117px 1894px #767676 , 568px 564px #767676 , 283px 1099px #767676 , 1573px 1044px #767676 , 1684px 1676px #767676 , 433px 1809px #767676 , 1787px 846px #767676 , 858px 190px #767676 , 523px 11px #767676 , 1282px 716px #767676 , 1518px 678px #767676 , 178px 184px #767676 , 324px 451px #767676 , 1801px 1191px #767676 , 684px 1015px #767676 , 1406px 291px #767676 , 612px 1710px #767676 , 817px 798px #767676 , 1395px 1919px #767676 , 1035px 1188px #767676 , 787px 1963px #767676 , 686px 1997px #767676 , 1885px 65px #767676 , 1158px 145px #767676 , 1899px 422px #767676 , 1605px 96px #767676 , 861px 780px #767676 , 1291px 1074px #767676 , 1401px 244px #767676 , 987px 1093px #767676 , 1410px 1768px #767676 , 450px 683px #767676 , 992px 440px #767676 , 1148px 166px #767676 , 681px 1387px #767676 , 1631px 1061px #767676 , 312px 1001px #767676 , 1883px 1508px #767676 , 1611px 832px #767676 , 1809px 115px #767676 , 1314px 582px #767676 , 670px 1292px #767676 , 1168px 183px #767676 , 1683px 1137px #767676 , 1274px 748px #767676 , 1720px 519px #767676 , 661px 1248px #767676 , 443px 1444px #767676 , 1887px 1018px #767676 , 672px 521px #767676 , 625px 1867px #767676 , 797px 1140px #767676 , 869px 837px #767676 , 1562px 1726px #767676 , 1329px 1161px #767676 , 348px 326px #767676 , 1329px 1648px #767676 , 544px 537px #767676 , 676px 272px #767676 , 109px 633px #767676 , 203px 1198px #767676 , 664px 1720px #767676 , 1535px 1794px #767676 , 1116px 48px #767676 , 103px 1810px #767676 , 1648px 666px #767676 , 1604px 1240px #767676 , 1643px 1971px #767676 , 1172px 43px #767676 , 470px 612px #767676 , 1404px 1839px #767676 , 1935px 538px #767676 , 55px 269px #767676 , 1580px 106px #767676 , 716px 1050px #767676 , 1856px 200px #767676 , 238px 1121px #767676 , 278px 461px #767676 , 380px 348px #767676 , 450px 669px #767676 , 761px 216px #767676 , 403px 784px #767676 , 1436px 347px #767676 , 1636px 519px #767676 , 1348px 1712px #767676 , 467px 1022px #767676 , 995px 963px #767676 , 65px 1493px #767676 , 667px 228px #767676 , 1684px 1196px #767676 , 188px 820px #767676 , 1943px 1285px #767676 , 240px 173px #767676 , 231px 1912px #767676 , 921px 452px #767676 , 1799px 1540px #767676 , 1435px 1307px #767676 , 335px 1486px #767676 , 1429px 1779px #767676 , 1188px 904px #767676 , 1125px 10px #767676 , 1879px 621px #767676 , 1290px 1727px #767676 , 775px 583px #767676 , 508px 1330px #767676 , 267px 949px #767676 , 1229px 765px #767676 , 575px 1109px #767676 , 627px 697px #767676 , 1769px 1719px #767676 , 1186px 1415px #767676 , 1795px 510px #767676 , 890px 1999px #767676 , 376px 2000px #767676 , 1634px 1544px #767676 , 1183px 819px #767676 , 37px 109px #767676 , 1315px 459px #767676 , 866px 1361px #767676 , 1845px 1214px #767676 , 1323px 753px #767676 , 531px 1403px #767676 , 1667px 1438px #767676 , 345px 1002px #767676 , 928px 893px #767676 , 1831px 786px #767676 , 1699px 911px #767676 , 627px 1476px #767676 , 1330px 572px #767676 , 804px 549px #767676 , 267px 525px #767676 , 1374px 167px #767676 , 1204px 1542px #767676 , 487px 1775px #767676 , 326px 1917px #767676 , 894px 324px #767676 , 884px 1191px #767676 , 612px 1178px #767676 , 829px 1961px #767676 , 73px 57px #767676 , 1237px 1744px #767676 , 31px 1462px #767676 , 251px 1772px #767676 , 964px 1033px #767676 , 1984px 1946px #767676 , 698px 1431px #767676 , 813px 540px #767676 , 1209px 1719px #767676 , 808px 1398px #767676 , 1957px 692px #767676 , 351px 142px #767676 , 1441px 803px #767676 , 524px 1330px #767676 , 353px 1569px #767676 , 1518px 40px #767676 , 1954px 1495px #767676 , 1981px 1702px #767676 , 1304px 1923px #767676 , 641px 1180px #767676 , 156px 1487px #767676 , 1682px 218px #767676 , 474px 1089px #767676 , 1551px 1810px #767676 , 1021px 1282px #767676 , 314px 195px #767676 , 1716px 1311px #767676 , 243px 1567px #767676 , 1187px 1124px #767676 , 77px 504px #767676 , 197px 596px #767676 , 436px 1273px #767676 , 1622px 933px #767676 , 1133px 737px #767676 , 1612px 1662px #767676 , 1618px 648px #767676 , 808px 114px #767676 , 1352px 872px #767676 , 665px 898px #767676 , 1000px 1861px #767676 , 1969px 501px #767676 , 1481px 1318px #767676 , 575px 1118px #767676 , 562px 1989px #767676 , 1757px 472px #767676 , 1022px 158px #767676 , 381px 1792px #767676 , 1874px 193px #767676 , 784px 208px #767676 , 1553px 820px #767676 , 1978px 1153px #767676 , 414px 1767px #767676 , 1374px 1193px #767676 , 18px 1154px #767676 , 1545px 98px #767676 , 1731px 1942px #767676 , 199px 1066px #767676 , 1150px 1316px #767676 , 409px 785px #767676 , 507px 1623px #767676 , 188px 1645px #767676 , 456px 352px #767676 , 52px 756px #767676 , 644px 580px #767676 , 243px 1175px #767676 , 1034px 68px #767676 , 1365px 586px #767676 , 149px 1831px #767676 , 1846px 1167px #767676 , 1535px 829px #767676 , 1462px 901px #767676 , 550px 1439px #767676 , 558px 508px #767676 , 1928px 90px #767676 , 1663px 622px #767676 , 140px 679px #767676 , 75px 938px #767676 , 1090px 200px #767676 , 445px 1917px #767676 , 425px 181px #767676 , 715px 622px #767676 , 817px 227px #767676 , 482px 779px #767676 , 633px 367px #767676 , 411px 416px #767676 , 628px 1051px #767676 , 14px 1851px #767676 , 160px 538px #767676 , 606px 176px #767676 , 804px 1281px #767676 , 462px 463px #767676 , 921px 95px #767676 , 949px 1026px #767676 , 405px 1266px #767676 , 1163px 1816px #767676 , 1918px 1707px #767676 , 141px 1484px #767676 , 156px 847px #767676 , 1869px 405px #767676 , 1380px 1797px #767676 , 1953px 884px #767676 , 731px 1104px #767676 , 1454px 120px #767676 , 91px 1379px #767676 , 1115px 1505px #767676 , 443px 727px #767676 , 912px 1891px #767676 , 594px 1147px #767676 , 1886px 1942px #767676 , 689px 1416px #767676 , 1556px 1031px #767676 , 312px 1480px #767676 , 1096px 1507px #767676 , 321px 1072px #767676 , 1744px 185px #767676 , 1375px 842px #767676 , 113px 289px #767676 , 539px 966px #767676 , 999px 743px #767676 , 678px 1062px #767676 , 1527px 1142px #767676 , 1554px 1147px #767676 , 891px 1314px #767676 , 1581px 1952px #767676 , 332px 1516px #767676 , 1400px 741px #767676 , 292px 548px #767676 , 163px 1046px #767676 , 1182px 251px #767676 , 812px 1688px #767676 , 905px 1581px #767676 , 883px 935px #767676 , 150px 1135px #767676 , 524px 1404px #767676 , 327px 862px #767676 , 1885px 1294px #767676 , 639px 282px #767676 , 1688px 1188px #767676 , 99px 23px #767676 , 1234px 11px #767676 , 1385px 1375px #767676 , 1758px 1529px #767676 , 1613px 478px #767676 , 345px 1252px #767676 , 84px 48px #767676 , 1815px 811px #767676 , 112px 926px #767676 , 1617px 201px #767676 , 43px 573px #767676 , 1253px 94px #767676 , 1317px 916px #767676 , 1195px 1225px #767676 , 1103px 727px #767676 , 1778px 171px #767676 , 470px 1107px #767676 , 1777px 1549px #767676 , 368px 825px #767676 , 773px 662px #767676 , 309px 517px #767676 , 1057px 494px #767676 , 1890px 464px #767676 , 413px 372px #767676 , 723px 1375px #767676 , 1117px 1934px #767676 , 1789px 992px #767676 , 1586px 1331px #767676 , 393px 611px #767676 , 113px 668px #767676 , 592px 1055px #767676 , 460px 59px #767676 , 632px 745px #767676 , 1237px 745px #767676 , 801px 1588px #767676 , 1286px 1777px #767676 , 1064px 1971px #767676 , 677px 748px #767676;
}

.stars > .medium {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 474px 159px #767676 , 635px 289px #767676 , 1857px 1138px #767676 , 1869px 207px #767676 , 1841px 1790px #767676 , 1460px 587px #767676 , 506px 600px #767676 , 946px 1286px #767676 , 1008px 333px #767676 , 760px 1716px #767676 , 1590px 1793px #767676 , 226px 1248px #767676 , 550px 1462px #767676 , 1108px 260px #767676 , 855px 1305px #767676 , 750px 238px #767676 , 1080px 265px #767676 , 1330px 1204px #767676 , 1305px 1886px #767676 , 536px 858px #767676 , 649px 324px #767676 , 729px 1072px #767676 , 597px 1969px #767676 , 1485px 718px #767676 , 560px 1274px #767676 , 149px 1270px #767676 , 313px 699px #767676 , 1132px 468px #767676 , 1079px 970px #767676 , 1869px 999px #767676 , 1914px 877px #767676 , 1570px 1678px #767676 , 260px 29px #767676 , 1186px 1015px #767676 , 1452px 1252px #767676 , 608px 1085px #767676 , 943px 882px #767676 , 1686px 1951px #767676 , 651px 1064px #767676 , 784px 1405px #767676 , 1459px 1149px #767676 , 1675px 497px #767676 , 1098px 628px #767676 , 428px 614px #767676 , 199px 604px #767676 , 1927px 788px #767676 , 1589px 573px #767676 , 393px 1970px #767676 , 773px 975px #767676 , 535px 441px #767676 , 195px 1689px #767676 , 1321px 94px #767676 , 61px 1925px #767676 , 1276px 1136px #767676 , 1509px 1078px #767676 , 1421px 1236px #767676 , 523px 1008px #767676 , 1696px 1336px #767676 , 1650px 1291px #767676 , 1993px 991px #767676 , 884px 342px #767676 , 1838px 1348px #767676 , 1528px 201px #767676 , 975px 216px #767676 , 642px 291px #767676 , 1170px 1097px #767676 , 621px 1023px #767676 , 17px 1412px #767676 , 849px 495px #767676 , 673px 221px #767676 , 1942px 1488px #767676 , 1777px 780px #767676 , 1151px 1727px #767676 , 1609px 179px #767676 , 260px 208px #767676 , 1748px 1408px #767676 , 262px 516px #767676 , 1784px 1230px #767676 , 530px 1640px #767676 , 847px 1550px #767676 , 141px 798px #767676 , 1510px 1152px #767676 , 1418px 344px #767676 , 932px 185px #767676 , 1103px 1046px #767676 , 1000px 189px #767676 , 1677px 1913px #767676 , 987px 287px #767676 , 1041px 1212px #767676 , 1590px 698px #767676 , 447px 719px #767676 , 480px 63px #767676 , 65px 1185px #767676 , 1499px 1062px #767676 , 340px 137px #767676 , 1406px 282px #767676 , 881px 1684px #767676 , 248px 293px #767676 , 413px 1539px #767676 , 1854px 336px #767676 , 329px 1240px #767676 , 647px 760px #767676 , 230px 1723px #767676 , 1724px 786px #767676 , 1299px 1707px #767676 , 788px 1236px #767676 , 1367px 330px #767676 , 794px 1556px #767676 , 1873px 1164px #767676 , 766px 705px #767676 , 1844px 520px #767676 , 1913px 1436px #767676 , 1616px 1799px #767676 , 1366px 1807px #767676 , 432px 645px #767676 , 1036px 579px #767676 , 1636px 559px #767676 , 425px 1391px #767676 , 1878px 941px #767676 , 1716px 1265px #767676 , 1689px 66px #767676 , 864px 1740px #767676 , 425px 1917px #767676 , 549px 1286px #767676 , 265px 1958px #767676 , 1447px 266px #767676 , 1178px 1438px #767676 , 1582px 1918px #767676 , 1503px 256px #767676 , 475px 1625px #767676 , 1190px 1222px #767676 , 1118px 1125px #767676 , 1399px 1537px #767676 , 1597px 1149px #767676 , 333px 438px #767676 , 442px 1992px #767676 , 1047px 604px #767676 , 1181px 384px #767676 , 1517px 1544px #767676 , 1541px 1159px #767676 , 1700px 1505px #767676 , 1918px 759px #767676 , 1788px 997px #767676 , 1458px 1767px #767676 , 941px 1533px #767676 , 716px 944px #767676 , 1025px 1155px #767676 , 161px 1292px #767676 , 1485px 1806px #767676 , 1636px 645px #767676 , 1438px 1292px #767676 , 1920px 1530px #767676 , 1223px 693px #767676 , 974px 195px #767676 , 1205px 41px #767676 , 205px 844px #767676 , 1404px 236px #767676 , 1151px 1092px #767676 , 387px 1548px #767676 , 38px 1888px #767676 , 1598px 635px #767676 , 888px 956px #767676 , 116px 634px #767676 , 1709px 1014px #767676 , 429px 412px #767676 , 950px 622px #767676 , 1590px 195px #767676 , 163px 1054px #767676 , 1351px 79px #767676 , 990px 1505px #767676 , 238px 776px #767676 , 805px 713px #767676 , 733px 1970px #767676 , 921px 1255px #767676 , 1393px 1089px #767676 , 1147px 940px #767676 , 1404px 1039px #767676 , 878px 191px #767676 , 1410px 868px #767676 , 1458px 935px #767676 , 205px 469px #767676 , 1419px 1849px #767676 , 1562px 1403px #767676 , 109px 1364px #767676 , 685px 885px #767676 , 1259px 1734px #767676 , 1001px 248px #767676 , 1657px 480px #767676 , 485px 523px #767676 , 706px 1298px #767676 , 412px 1737px #767676 , 1147px 441px #767676 , 432px 32px #767676 , 1708px 930px #767676 , 897px 254px #767676 , 1435px 1445px #767676 , 223px 1820px #767676 , 817px 970px #767676 , 462px 258px #767676 , 183px 866px #767676;
  animation: starsAnimation 100s linear infinite;
}
.stars > .medium:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 474px 159px #767676 , 635px 289px #767676 , 1857px 1138px #767676 , 1869px 207px #767676 , 1841px 1790px #767676 , 1460px 587px #767676 , 506px 600px #767676 , 946px 1286px #767676 , 1008px 333px #767676 , 760px 1716px #767676 , 1590px 1793px #767676 , 226px 1248px #767676 , 550px 1462px #767676 , 1108px 260px #767676 , 855px 1305px #767676 , 750px 238px #767676 , 1080px 265px #767676 , 1330px 1204px #767676 , 1305px 1886px #767676 , 536px 858px #767676 , 649px 324px #767676 , 729px 1072px #767676 , 597px 1969px #767676 , 1485px 718px #767676 , 560px 1274px #767676 , 149px 1270px #767676 , 313px 699px #767676 , 1132px 468px #767676 , 1079px 970px #767676 , 1869px 999px #767676 , 1914px 877px #767676 , 1570px 1678px #767676 , 260px 29px #767676 , 1186px 1015px #767676 , 1452px 1252px #767676 , 608px 1085px #767676 , 943px 882px #767676 , 1686px 1951px #767676 , 651px 1064px #767676 , 784px 1405px #767676 , 1459px 1149px #767676 , 1675px 497px #767676 , 1098px 628px #767676 , 428px 614px #767676 , 199px 604px #767676 , 1927px 788px #767676 , 1589px 573px #767676 , 393px 1970px #767676 , 773px 975px #767676 , 535px 441px #767676 , 195px 1689px #767676 , 1321px 94px #767676 , 61px 1925px #767676 , 1276px 1136px #767676 , 1509px 1078px #767676 , 1421px 1236px #767676 , 523px 1008px #767676 , 1696px 1336px #767676 , 1650px 1291px #767676 , 1993px 991px #767676 , 884px 342px #767676 , 1838px 1348px #767676 , 1528px 201px #767676 , 975px 216px #767676 , 642px 291px #767676 , 1170px 1097px #767676 , 621px 1023px #767676 , 17px 1412px #767676 , 849px 495px #767676 , 673px 221px #767676 , 1942px 1488px #767676 , 1777px 780px #767676 , 1151px 1727px #767676 , 1609px 179px #767676 , 260px 208px #767676 , 1748px 1408px #767676 , 262px 516px #767676 , 1784px 1230px #767676 , 530px 1640px #767676 , 847px 1550px #767676 , 141px 798px #767676 , 1510px 1152px #767676 , 1418px 344px #767676 , 932px 185px #767676 , 1103px 1046px #767676 , 1000px 189px #767676 , 1677px 1913px #767676 , 987px 287px #767676 , 1041px 1212px #767676 , 1590px 698px #767676 , 447px 719px #767676 , 480px 63px #767676 , 65px 1185px #767676 , 1499px 1062px #767676 , 340px 137px #767676 , 1406px 282px #767676 , 881px 1684px #767676 , 248px 293px #767676 , 413px 1539px #767676 , 1854px 336px #767676 , 329px 1240px #767676 , 647px 760px #767676 , 230px 1723px #767676 , 1724px 786px #767676 , 1299px 1707px #767676 , 788px 1236px #767676 , 1367px 330px #767676 , 794px 1556px #767676 , 1873px 1164px #767676 , 766px 705px #767676 , 1844px 520px #767676 , 1913px 1436px #767676 , 1616px 1799px #767676 , 1366px 1807px #767676 , 432px 645px #767676 , 1036px 579px #767676 , 1636px 559px #767676 , 425px 1391px #767676 , 1878px 941px #767676 , 1716px 1265px #767676 , 1689px 66px #767676 , 864px 1740px #767676 , 425px 1917px #767676 , 549px 1286px #767676 , 265px 1958px #767676 , 1447px 266px #767676 , 1178px 1438px #767676 , 1582px 1918px #767676 , 1503px 256px #767676 , 475px 1625px #767676 , 1190px 1222px #767676 , 1118px 1125px #767676 , 1399px 1537px #767676 , 1597px 1149px #767676 , 333px 438px #767676 , 442px 1992px #767676 , 1047px 604px #767676 , 1181px 384px #767676 , 1517px 1544px #767676 , 1541px 1159px #767676 , 1700px 1505px #767676 , 1918px 759px #767676 , 1788px 997px #767676 , 1458px 1767px #767676 , 941px 1533px #767676 , 716px 944px #767676 , 1025px 1155px #767676 , 161px 1292px #767676 , 1485px 1806px #767676 , 1636px 645px #767676 , 1438px 1292px #767676 , 1920px 1530px #767676 , 1223px 693px #767676 , 974px 195px #767676 , 1205px 41px #767676 , 205px 844px #767676 , 1404px 236px #767676 , 1151px 1092px #767676 , 387px 1548px #767676 , 38px 1888px #767676 , 1598px 635px #767676 , 888px 956px #767676 , 116px 634px #767676 , 1709px 1014px #767676 , 429px 412px #767676 , 950px 622px #767676 , 1590px 195px #767676 , 163px 1054px #767676 , 1351px 79px #767676 , 990px 1505px #767676 , 238px 776px #767676 , 805px 713px #767676 , 733px 1970px #767676 , 921px 1255px #767676 , 1393px 1089px #767676 , 1147px 940px #767676 , 1404px 1039px #767676 , 878px 191px #767676 , 1410px 868px #767676 , 1458px 935px #767676 , 205px 469px #767676 , 1419px 1849px #767676 , 1562px 1403px #767676 , 109px 1364px #767676 , 685px 885px #767676 , 1259px 1734px #767676 , 1001px 248px #767676 , 1657px 480px #767676 , 485px 523px #767676 , 706px 1298px #767676 , 412px 1737px #767676 , 1147px 441px #767676 , 432px 32px #767676 , 1708px 930px #767676 , 897px 254px #767676 , 1435px 1445px #767676 , 223px 1820px #767676 , 817px 970px #767676 , 462px 258px #767676 , 183px 866px #767676;
}

.stars > .big {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1564px 1009px #767676 , 1879px 1972px #767676 , 821px 955px #767676 , 856px 1827px #767676 , 343px 620px #767676 , 1225px 41px #767676 , 93px 1603px #767676 , 1766px 1997px #767676 , 815px 448px #767676 , 1701px 384px #767676 , 223px 121px #767676 , 219px 1513px #767676 , 1009px 755px #767676 , 1605px 1807px #767676 , 1666px 322px #767676 , 108px 372px #767676 , 855px 1747px #767676 , 1969px 649px #767676 , 1674px 386px #767676 , 24px 1857px #767676 , 1562px 396px #767676 , 1864px 792px #767676 , 652px 153px #767676 , 876px 1183px #767676 , 880px 1971px #767676 , 512px 509px #767676 , 1897px 1407px #767676 , 494px 331px #767676 , 578px 1041px #767676 , 705px 745px #767676 , 1238px 1068px #767676 , 1041px 1971px #767676 , 1715px 1114px #767676 , 914px 105px #767676 , 562px 1348px #767676 , 914px 1469px #767676 , 1337px 223px #767676 , 63px 456px #767676 , 1832px 1333px #767676 , 391px 1956px #767676 , 208px 1500px #767676 , 744px 1273px #767676 , 1554px 775px #767676 , 1064px 1235px #767676 , 1200px 1707px #767676 , 1904px 792px #767676 , 803px 429px #767676 , 335px 1257px #767676 , 492px 1547px #767676 , 1208px 86px #767676 , 7px 841px #767676 , 821px 1816px #767676 , 1555px 1532px #767676 , 28px 257px #767676 , 1757px 1724px #767676 , 3px 1217px #767676 , 1344px 1735px #767676 , 280px 33px #767676 , 919px 113px #767676 , 535px 999px #767676 , 1839px 1173px #767676 , 147px 350px #767676 , 154px 1177px #767676 , 1065px 409px #767676 , 933px 1149px #767676 , 389px 1682px #767676 , 1900px 1564px #767676 , 854px 567px #767676 , 1313px 121px #767676 , 116px 1211px #767676 , 420px 932px #767676 , 1587px 1963px #767676 , 1605px 1064px #767676 , 1895px 966px #767676 , 1821px 1041px #767676 , 1213px 362px #767676 , 1445px 1789px #767676 , 657px 1607px #767676 , 1981px 1308px #767676 , 1638px 70px #767676 , 682px 301px #767676 , 125px 794px #767676 , 696px 1128px #767676 , 1783px 790px #767676 , 774px 918px #767676 , 269px 59px #767676 , 599px 188px #767676 , 1463px 848px #767676 , 1502px 1580px #767676 , 1298px 1014px #767676 , 1186px 378px #767676 , 481px 1158px #767676 , 170px 396px #767676 , 38px 20px #767676 , 1688px 1436px #767676 , 1189px 1743px #767676 , 225px 1155px #767676 , 819px 948px #767676 , 1467px 1676px #767676 , 715px 1258px #767676;
  border-radius: 100%;
  animation: starsAnimation 150s linear infinite;
}
.stars > .big:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1564px 1009px #767676 , 1879px 1972px #767676 , 821px 955px #767676 , 856px 1827px #767676 , 343px 620px #767676 , 1225px 41px #767676 , 93px 1603px #767676 , 1766px 1997px #767676 , 815px 448px #767676 , 1701px 384px #767676 , 223px 121px #767676 , 219px 1513px #767676 , 1009px 755px #767676 , 1605px 1807px #767676 , 1666px 322px #767676 , 108px 372px #767676 , 855px 1747px #767676 , 1969px 649px #767676 , 1674px 386px #767676 , 24px 1857px #767676 , 1562px 396px #767676 , 1864px 792px #767676 , 652px 153px #767676 , 876px 1183px #767676 , 880px 1971px #767676 , 512px 509px #767676 , 1897px 1407px #767676 , 494px 331px #767676 , 578px 1041px #767676 , 705px 745px #767676 , 1238px 1068px #767676 , 1041px 1971px #767676 , 1715px 1114px #767676 , 914px 105px #767676 , 562px 1348px #767676 , 914px 1469px #767676 , 1337px 223px #767676 , 63px 456px #767676 , 1832px 1333px #767676 , 391px 1956px #767676 , 208px 1500px #767676 , 744px 1273px #767676 , 1554px 775px #767676 , 1064px 1235px #767676 , 1200px 1707px #767676 , 1904px 792px #767676 , 803px 429px #767676 , 335px 1257px #767676 , 492px 1547px #767676 , 1208px 86px #767676 , 7px 841px #767676 , 821px 1816px #767676 , 1555px 1532px #767676 , 28px 257px #767676 , 1757px 1724px #767676 , 3px 1217px #767676 , 1344px 1735px #767676 , 280px 33px #767676 , 919px 113px #767676 , 535px 999px #767676 , 1839px 1173px #767676 , 147px 350px #767676 , 154px 1177px #767676 , 1065px 409px #767676 , 933px 1149px #767676 , 389px 1682px #767676 , 1900px 1564px #767676 , 854px 567px #767676 , 1313px 121px #767676 , 116px 1211px #767676 , 420px 932px #767676 , 1587px 1963px #767676 , 1605px 1064px #767676 , 1895px 966px #767676 , 1821px 1041px #767676 , 1213px 362px #767676 , 1445px 1789px #767676 , 657px 1607px #767676 , 1981px 1308px #767676 , 1638px 70px #767676 , 682px 301px #767676 , 125px 794px #767676 , 696px 1128px #767676 , 1783px 790px #767676 , 774px 918px #767676 , 269px 59px #767676 , 599px 188px #767676 , 1463px 848px #767676 , 1502px 1580px #767676 , 1298px 1014px #767676 , 1186px 378px #767676 , 481px 1158px #767676 , 170px 396px #767676 , 38px 20px #767676 , 1688px 1436px #767676 , 1189px 1743px #767676 , 225px 1155px #767676 , 819px 948px #767676 , 1467px 1676px #767676 , 715px 1258px #767676;
  border-radius: 100%;
}

@keyframes starsAnimation {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(0px);
  }
}
header {
  height: 100vh;
}

nav {
  overflow: hidden;
  position: relative;
  transform: translateX(-300px);
  height: 100%;
  width: 100%;
  max-width: 400px;
  transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
  border-radius: 0% 0% 100% 50%;
  z-index: 100;
}

nav.nav-open {
  transform: translateX(0px);
  border-radius: 0% 0% 0% 0%;
  background: rgba(255, 255, 255, 0.6);
}

nav .menu-btn {
  position: absolute;
  top: 10%;
  right: 5%;
  padding: 0;
  width: 30px;
  cursor: pointer;
  z-index: 2;
}

nav .menu-btn .line {
  padding: 0;
  width: 30px;
  background: #fff;
  height: 2px;
  margin: 5px 0;
  transition: all 700ms cubic-bezier(0.9, 0, 0.33, 1);
}

nav .menu-btn .line.line--1 {
  width: 30px;
  transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--1.line-cross {
  width: 30px;
  transform: rotate(45deg) translateY(10px);
  background: rgba(0, 0, 0, 0.6);
}

nav .menu-btn .line.line--2 {
  width: 28px;
  transform: translateX(0);
}

nav .menu-btn .line.line--2.line-fade-out {
  width: 28px;
  transform: translate(30px);
  opacity: 0;
}

nav .menu-btn .line.line--3 {
  width: 20px;
  transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--3.line-cross {
  width: 30px;
  transform: rotate(-45deg) translateY(-10px);
  background: rgba(0, 0, 0, 0.6);
}

nav .nav-links {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-100px);
  opacity: 0;
  transition: all 900ms cubic-bezier(0.9, 0, 0.33, 1);
}

nav .nav-links.fade-in {
  opacity: 1;
  transform: translateX(0px);
}

nav .nav-links .link {
  margin: 20px 0;
  text-decoration: none;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: all 300ms cubic-bezier(0.9, 0, 0.33, 1);
}

nav .nav-links .link:hover {
  color: rgba(0, 0, 0, 0.5);
}

.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}

.support a {
  margin-left: 30px;
}

a {
  margin: 0;
  color: #fff;
  font-size: 16px;
  transition: all 400ms ease;
  text-decoration: none;
}

a:hover {
  color: #222;
}

.prvi {
  margin: 0 auto;
  border: 1px solid palevioletred;
  box-shadow: 2px 2px 3px 1px palevioletred;
  width: 100px;
}

.fa-twitter:hover {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.fa-facebook:hover {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.fa-instagram:hover {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.fa-whatsapp:hover {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.about-wrapper {
  background-image: url("images/krug2.jpg");
  background-size: cover;
}

.about {
  margin: 0 auto;
  max-width: 80ch;
  padding: 5px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.about h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Chilanka", cursive;
  color: white;
}
.about p {
  text-align: justify;
  font-size: clamp(16px, 5vw, 20px);
  font-family: "Chilanka", cursive;
  line-height: 1.4;
  color: white;
}

.awards {
  text-align: right;
  margin-bottom: 20px;
}
.awards img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 2px;
  transition: 0.3s;
  gap: 5px;
}
.gallery:hover .gallery__image {
  filter: grayscale(1);
}
.gallery__link {
  overflow: hidden;
  width: 100%;
  height: clamp(150px, 100%, 315px);
  position: relative;
}
.gallery__link:hover .gallery__image {
  filter: grayscale(0);
}
.gallery__link:hover .gallery__caption {
  opacity: 1;
}
.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}
.gallery__image:hover {
  transform: scale(1.1);
}
.gallery__caption {
  position: absolute;
  bottom: 3px;
  left: 3px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 20px 30px;
  color: white;
  background-color: black;
  border-top: 1px solid #e5e5e5;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .phone {
  padding-top: 10px;
}
footer .email {
  padding-top: 10px;
}

footer .content {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .content p,
a {
  color: #fff;
}

footer .content .box {
  width: 33%;
  transition: all 0.4s ease;
}

footer .content .topic {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}

footer .content p {
  text-align: justify;
}

footer .content .lower .topic {
  margin: 24px 0 5px 0;
}

footer .content .lower i {
  padding-right: 16px;
}

footer .content .middle {
  padding-left: 80px;
}

footer .content .middle a {
  line-height: 32px;
}

footer .content .right input[type=text] {
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}

footer .content .right input[type=submit] {
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}

.content .right input[type=submit]:hover {
  background: none;
  color: #eb2f06;
}

footer .content .media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}

.content .media-icons a:hover {
  border-color: #eb2f06;
}

footer .bottom {
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}

footer .bottom a {
  color: #eb2f06;
}

footer a {
  transition: all 0.3s ease;
}

footer a:hover {
  color: #eb2f06;
}

@media (max-width: 1100px) {
  footer .content .middle {
    padding-left: 50px;
  }
}
@media (max-width: 950px) {
  .about {
    margin: 0 auto;
    max-width: 80ch;
    padding: 5px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .about h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Chilanka", cursive;
    color: white;
  }
  .about p {
    text-align: justify;
    font-size: clamp(14px, 5vw, 20px);
    font-family: "Chilanka", cursive;
    line-height: 1.4;
    color: white;
    padding: 16px;
  }
  .awards {
    text-align: right;
    margin-bottom: 20px;
  }
  .awards img {
    width: 60px;
    height: 60px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  footer .content .box {
    width: 50%;
  }
  .content .right {
    margin-top: 40px;
  }
}
@media (max-width: 560px) {
  footer {
    position: relative;
  }
  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle {
    padding-left: 0;
  }
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
  }
}/*# sourceMappingURL=style.css.map */